{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Acquista e Vendi Sneakers Autentiche</h1>
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">

    <main>

        <div class="container">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

                <!-- Navbar brand -->
                <span class="navbar-brand">Categorie:</span>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Tutti
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>
                    <!-- Links -->






                    <a href="{% url 'aggiungi_item' %}" class="btn btn-success float-left" >Aggiungi Sneakers</a>
                    <!-- Collapsible content -->

                </div>
            </nav>

            <br>
            <a href="{% url 'item-page' %}" class="btn btn-info" >Vedi tutte le sneakers in vendita</a>
            <br>
            <br>
            <h2>I migliori prezzi per Sneakers nuove</h2>
            <br>
            {% if not convenientinew_list %}
                <h4 class="text-muted">Ci dispiace! Non ci sono articoli che soddisfano la richiesta!</h4>
            {% endif %}
            <section class="text-center mb-4">

                <div class="row wow fadeIn">
                    {% for item in convenientinew_list%}
                        <div class="col-lg-3 col-md-6 mb-4">

                            <div class="card">

                                <div class="view overlay">
                                    {% if item.immagine %}
                                        <img src="{{ item.immagine.url }}" class="card-img-top" width="100" height="200" >
                                    {% endif %}
                                    <a href="{{ item.get_absolute_url }}">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <div class="card-body text-center">

                                    <h3>{{ item.get_categoria_display }}</h3>

                                    <h5>
                                        <strong>
                                            <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.nome }}
                                            </a>
                                        </strong>
                                    </h5>

                                    <h4 class="font-weight-bold blue-text">
                                        <strong>
                                                {{ item.prezzo }} € {% if item.condizioni == 'U' %}
                                                <h6  style="color: red"> {{ item.get_condizioni_display }} </h6>
                                            {% else %}
                                                <h6  style="color: green"> {{ item.get_condizioni_display }} </h6>
                                            {% endif %}

                                        </strong>

                                    </h4>
                                    <p class="text-muted">{{ item.data|timesince }} fa</p>

                                </div>

                            </div>

                        </div>

                    {% endfor %}
                </div>

            </section>
            <br>
            <h2>I migliori prezzi per Sneakers usate </h2>
            <br>
            {% if not convenientiused_list %}
                <h4 class="text-muted">Ci dispiace! Non ci sono articoli che soddisfano la richiesta!</h4>
            {% endif %}
            <section class="text-center mb-4">

                <div class="row wow fadeIn">

                    {% for item in convenientiused_list%}
                        <div class="col-lg-3 col-md-6 mb-4">

                            <div class="card">

                                <div class="view overlay">
                                    {% if item.immagine %}
                                        <img src="{{ item.immagine.url }}" class="card-img-top" width="100" height="200" >
                                    {% endif %}
                                    <a href="{{ item.get_absolute_url }}">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <div class="card-body text-center">

                                    <h3>{{ item.get_categoria_display }}</h3>

                                    <h5>
                                        <strong>
                                            <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.nome }}
                                            </a>
                                        </strong>
                                    </h5>

                                    <h4 class="font-weight-bold blue-text">
                                        <strong>
                                                {{ item.prezzo }} € {% if item.condizioni == 'U' %}
                                                <h6  style="color: red"> {{ item.get_condizioni_display }} </h6>
                                            {% else %}
                                                <h6  style="color: green"> {{ item.get_condizioni_display }} </h6>
                                            {% endif %}

                                        </strong>

                                    </h4>
                                    <p class="text-muted">{{ item.data|timesince }} fa</p>

                                </div>

                            </div>

                        </div>

                    {% endfor %}
                </div>
                <br>
            </section>
            {% if request.user.is_authenticated %}
                <h2>Consigliati per te</h2>
                <br>
                {% if not recommendation_list %}
                    <h4 class="text-muted">Ci dispiace! Non abbiamo niente da consigliarti, fai acquisti per avere suggerimenti!</h4>
                {% endif %}


                <section class="text-center mb-4">

                    <div class="row wow fadeIn">

                        {% for item in recommendation_list%}
                            <div class="col-lg-3 col-md-6 mb-4">

                                <div class="card">

                                    <div class="view overlay">
                                        {% if item.immagine %}
                                            <img src="{{ item.immagine.url }}" class="card-img-top" width="100" height="200" >
                                        {% endif %}
                                        <a href="{{ item.get_absolute_url }}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="card-body text-center">

                                        <h3>{{ item.get_categoria_display }}</h3>

                                        <h5>
                                            <strong>
                                                <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.nome }}
                                                </a>
                                            </strong>
                                        </h5>

                                        <h4 class="font-weight-bold blue-text">
                                            <strong>
                                                    {{ item.prezzo }} € {% if item.condizioni == 'U' %}
                                                    <h6  style="color: red"> {{ item.get_condizioni_display }} </h6>
                                                {% else %}
                                                    <h6  style="color: green"> {{ item.get_condizioni_display }} </h6>
                                                {% endif %}

                                            </strong>

                                        </h4>
                                        <p class="text-muted">{{ item.data|timesince }} fa</p>

                                    </div>

                                </div>

                            </div>

                        {% endfor %}
                    </div>

                </section>
            {% endif %}
            <!--Pagination-->




            {% if is_paginated %}
                <nav class="d-flex justify-content-center wow fadeIn">
                    <ul class="pagination pg-blue">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        </div>
    </main>

{% endblock content %}

