{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super}} - Cambia Passowrd {% endblock head_title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-4 text-center">
        <h2><a href="/"><img  style="width: 4rem;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7U6PpycTRNE21khwVjBW2p0uJ-WVM3wwBew&usqp=CAU"> </a>Modifica Password</h2>
        <p>Inserisci la password attuale, per ragione di sicurezza, e poi la nuova password!</p>
        <form class=""  method="POST" novalidate>
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <input type="submit" class="btn btn-success" value="Cambia Password">
        </form>
       </div>

</div>
        
{% endblock content %}